[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "<10.0.0"
piexif = "*"
install = "*"
pyexiv2 = "*"
imageio = "*"
exifread = "*"
defusedxml = "*"
pytest = "*"
fake-bpy-module-latest = "*"
moviepy = "*"
pygame = "*"

[dev-packages]

[requires]
python_version = "3.11"
